.checkoutPage {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkoutHeader {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .headerTab {
      text-transform: capitalize;
      width: 22%;

      &:last-child {
        width: 12%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .emptyMessage {
    font-size: 18px;
    margin: 50px auto;
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
